@media (min-width: 310px) {
  ul .dropdown .dropdown-menu {
    &.show {
      display: grid !important;
      grid-template-columns: repeat(2, auto);
      li a.dropdown-item {
        font-size: 12px;
      }
    }
  }
  .main {
    &__filminfo {
      display: grid;
      grid-template-columns: 100%;
    }
    &__filminfo-poster {
      .img {
        display: flex;
        justify-content: center;
        img {
          width: 80%;
        }
      }
    }
    &__filminfo-genres {
      padding: 0;
      margin: 0;
      display: flex;
      li {
        margin: 0 10px;
        list-style-type: none;
      }
    }
    .fotorama {
      display: grid;
      grid-template-columns: repeat(auto-fill, 140px);
      gap: 10px;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 384px) {
  ul .dropdown .dropdown-menu {
    &.show {
      grid-template-columns: repeat(3, auto);
      li a.dropdown-item {
        font-size: 14px;
      }
    }
  }
  .main {
    .fotorama {
      grid-template-columns: repeat(auto-fill, 150px);
    }
  }
}

@media (min-width: 768px) {
  ul .dropdown .dropdown-menu {
    &.show {
      grid-template-columns: repeat(4, auto);
      li a.dropdown-item {
        font-size: 16px;
      }
    }
  }
  .main {
    &__filminfo {
      display: grid;
      grid-template-columns: 30% 60%;
      justify-content: space-between;
      grid-template-rows: repeat(2, auto);
    }
    &__filminfo-poster {
      .img img {
        width: 100%;
      }
    }
    &__filminfo-overview {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media (min-width: 992px) {
  ul .dropdown .dropdown-menu {
    &.show {
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media (min-width: 1200px) {
  .main {
    &__populars {
      padding: 0 120px !important;
    }
  }
}
