.header {
  background-color: $elements-color;
  span.films {
    text-transform: uppercase;
  }
  span.net {
    color: #ad9454;
  }
  .dropdown {
    .toggle-arrow {
      &:after {
        transform: rotate(180deg) !important;
      }
    }
  }
}
