.main {
  margin-top: 60px;
  &__populars {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 152px);
    gap: 20px;
    justify-content: center;
    .item {
      list-style-type: none;
      &__img {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
          -23px 0 20px -23px rgba(0, 0, 0, 0.8),
          23px 0 20px -23px rgba(0, 0, 0, 0.8),
          0 0 40px rgba(0, 0, 0, 0.1) inset;
        img {
          width: 100%;
        }
      }
      &__title {
        display: inline;
        color: black;
        padding-top: 3px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        &[data-title] {
          position: relative;
          &:after {
            content: attr(data-title);
            position: absolute;
            bottom: -1.6em;
            left: 100%;
            padding: 4px 4px 4px 8px;
            color: #666;
            white-space: nowrap;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: 0px 0px 4px #666;
            -webkit-box-shadow: 0px 0px 4px #666;
            box-shadow: 0px 0px 4px #666;
            background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
            background-image: -webkit-gradient(
              linear,
              left top,
              left bottom,
              color-stop(0, #f0eded),
              color-stop(1, #bfbdbd)
            );
            background-image: -webkit-linear-gradient(top, #f0eded, #bfbdbd);
            background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
            background-image: -ms-linear-gradient(top, #f0eded, #bfbdbd);
            background-image: -o-linear-gradient(top, #f0eded, #bfbdbd);
            opacity: 0;
            z-index: 99999;
            visibility: hidden;
          }
          &:hover:after {
            opacity: 1;
            transition: all 0.1s ease 0.5s;
            visibility: visible;
          }
        }
      }
      &__info {
        display: flex;
      }
      &__releasedata,
      &__country {
        padding-top: 2px;
        line-height: 14px;
        font-size: 11px;
        color: #848484;
        span:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &__releasedata:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
